*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: #111238;
  margin: 0;
}
.header {
  background: #f2f3f6;
}
/* .row {
  align-items: center;
} */

/* .menu-group {
  display: flex;
  justify-content: center;
} */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item:not(:last-child) {
  margin-right: 20px;
}
.menu-link {
  color: #111238;
  text-decoration: none;
}
/* .auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */
.button {
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
}
.button-link {
  color: #111238;
  padding: 10px;
  margin-right: 30px;
}
.button-primary {
  background: #1a75e8;
  border-radius: 5px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #ffffff;
  cursor: pointer;
}
.button-icon {
  vertical-align: middle;
  margin-right: 10px;
}
.button-text {
  vertical-align: middle;
}
.hero-title {
  font-size: 44px;
  line-height: 53px;
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: 43px;
}
.hero-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 30px;
}
.input-group {
  background-color: #ffffff;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
.input {
  background-color: #ffffff;
  border: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
}
.input:focus {
  outline: 1px dashed #666;
}
.tag-group {
  padding-left: 15px;
  color: #b2b2b2;
  font-size: 14px;
  line-height: 17px;
}
.tag {
  color: #b2b2b2;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}
.tag:hover {
  color: #1a75e8;
  background-color: #fff;
}
.section {
  padding-top: 70px;
  padding-bottom: 80px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 40px;
}
.card {
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
  text-decoration: none;
  color: #111238;
  background: #f2f3f6;
  border-radius: 10px;
  padding: 35px;
  transition: background 0.2s, color 0.2s;
}
.card:hover {
  background: #1a75e8;
  color: #fff;
}
.card-icon {
  width: 24px;
  height: 24px;
}
.card:hover .card-icon {
  fill: #fff;
}
.card-icon {
  fill: #111238;
  margin-bottom: 15px;
  transition: fill 0.2s;
}
